body {
  width: 1024px;
  height: 768px;
  margin: 0;
  position: relative;
}

.global {
  position: absolute;
  left: 66px;
  top: 25px;
  width: 153px;
  height: 26px;
  z-index: 99;
}

.imgGlobal {
  width: 153px;
  height: 26px;
}

.slider {
  width: 1024px;
  height: 768px;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  display: flex;
}

.shape_1 {
  position: absolute;
  left: 70px;
  bottom: 25px;
  width: 57px;
  height: 12px;
  z-index: 98;
}

.imgShape_1 {
  width: 57px;
  height: 12px;
}

